@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SpoqaHanSansNeo-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font20-500{
    font-size: 2rem;
    font-family: 'SpoqaHanSansNeo-Medium';
    font-weight: 500;
    line-height: 3.5rem;
    word-break: keep-all;
}
.font24-700{
    font-size: 2.4rem;
    font-family: 'SpoqaHanSansNeo-Bold';
    font-weight: 700;
    word-break: keep-all;
}
.font32-700{
    font-size: 3.2rem;
    font-family: 'SpoqaHanSansNeo-Bold';
    font-weight: 700;
    word-break: keep-all;
}
.font48-700{
    font-size: 4.8rem;
    font-family: 'SpoqaHanSansNeo-Bold';
    font-weight: 700;
    word-break: keep-all;
}
.font16-300{
    font-size: 1.6rem;
    font-family: 'SpoqaHanSansNeo-Light';
    font-weight: 300;
    word-break: keep-all;
    line-height: 2.4rem;
}
.font14-300{
    font-size: 1.4rem;
    font-family: 'SpoqaHanSansNeo-Light';
    font-weight: 300;
    word-break: keep-all;
}
.yellow{
    color: #ff9900;
}
.white{
    color: #ffffff;
}
.light-gray{
    color: #606060;
}
.white-80{
    color: #ffffff;
    opacity: 0.8;
}
.lh3{
    line-height: 3rem;
}
.mt06{
    margin-top: 0.6rem;
}